<div class="row clearfix">
 <% if todo_item.completed? %>
  <div class="complete">
   <%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
    <i style="opacity: 0.4;" class="fa fa-check"></i>
    <!-- ikona zatwierdzenia -->
   <% end %>
  </div>
  <div class="todo_item">
   <p style="opacity: 0.4;"><strike><%= todo_item.content %></strike></p>
  </div>
  <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id),
   method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash"></i>
    <!-- ikona delete -->
   <% end %>
   
 <% else %>
  <div class="complete">
   <%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
    <i class="fa fa-circle-thin"></i>
    <!-- ikona niewykonanego zadania (kółko)  -->
   <% end %>
  </div>
  <div class="todo_item">
   <p><%= todo_item.content %></p>
  </div>

  <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id),
   method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash"></i>
    <!-- ikona delete -->
   <% end %>

 <% end %>
</div>
